<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>


<main>
    <div class="container">
        <h1>Resumen del pedido:</h1>
        <div class="container">
            <% for(let i = 0 ; i < infoProductos.length ; i++) { %>
                
                <p><%= infoProductos[i][0].titulo %>  </p> 
                <p><%= infoProductos[i][0].precio %>  </p>
               
       
        <% } %>
        </div>
        <button class="btn btn-dark">Confirmar Compra</button>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>