<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>


<main>
    <div class="container">
        <img src=" <%= infoProducto[0].imgUrl %>">
        <h1> <%= infoProducto[0].titulo %> </h1> 
        <p> <%= infoProducto[0].autor %></p>
        <p> <%= infoProducto[0].genero %></p>
        <p> <%= infoProducto[0].ano %></p>
        <p> <%= infoProducto[0].numDisco %></p>
        <p> <%= infoProducto[0].precio %></p>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>