<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script>
        function addProducto(id_vinilo) {
            var productos = [];
            if (localStorage.getItem("idProducto") == "") {
                localStorage.setItem("idProducto", id_vinilo)
            } else {
                console.log(id_vinilo)
                productos.push(localStorage.getItem("idProducto"));
                productos.push(id_vinilo);
                localStorage.setItem("idProducto", productos );
            }
        }

   </script>
</head>

<body>
    
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <form class="d-flex align-items-end">
                <input class="form-control me-2" type="search" placeholder="¿Qué buscas?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
        
        <div class="container mt-5">
            <div class="row justify-content-around">
                <% for(let i=0 ; i < infoVinilos.length ; i++) { %>
                    <div class="col-lg mt-3">
                        <div class="card" style="width: 18rem;">
                            <form action="/verProducto" method="POST">
                                <input type="image"  class="card-img-top" src=" <%= infoVinilos[i].imgUrl %> " alt="Submit Form">
                            <input type="hidden" name="id_vinilo" value="<%= infoVinilos[i].id_vinilo %>">
                            
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= infoVinilos[i].titulo %>
                                    </h5>
                                    <p class="card-text">
                                        <%= infoVinilos[i].autor %>
                                        <br>
                                        <%= infoVinilos[i].precio %>
                                    </p>
                                    <a href="#" class="btn btn-dark" onclick="addProducto('<%= infoVinilos[i].id_vinilo %>')">Añadir al carrito</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="container mt-5">
            <h1>Vinilos scrapeados</h1>
            <div class="row justify-content-around">
                <% for(let i=0 ; i < infoDiscosScrapeados.length ; i++) { %>
                    <div class="col-lg mt-3">
                        <div class="card" style="width: 18rem;">
                            
                                <input type="image" href="#" class="card-img-top" src=" <%= infoDiscosScrapeados[i].imgUrl %> " alt="Submit Form">
                            
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= infoDiscosScrapeados[i].titulo %>
                                    </h5>
                                    <p class="card-text">
                                        <%= infoDiscosScrapeados[i].autor %>
                                        <br>
                                        <%= infoDiscosScrapeados[i].ano %>
                                        <br>
                                        <%= infoDiscosScrapeados[i].precio %>
                                    </p>
                                    <a href="#" class="btn btn-dark">Ver en la web</a>
                                </div>
                            
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>
